[credential]
  helper = cache --timeout=3600
[color]
  ui = auto
[core]
  editor = subl
  trustctime = false
  filemode = false
[push]
  default = current
[http]
  postBuffer = 100M
[diff]
  external = /usr/local/bin/git-diff.sh
[merge]
  tool = meld
